{% load static %}
<html>
    <head>
        <title>Brent's Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="//fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="admin-link">
            <h1><a href="/admin">Admin Link</a></h1>
        </div>
        <!-- must be signed in to see/edit-->
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="new-post-button">New Post</a>
        {% endif %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>